@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Pixelify+Sans&display=swap');



.navbar-brand {
    font-size: 50px;
}

.span-t {
    font-family: 'Ysabeau SC', sans-serif;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 500px;
    min-width: 400px;
    border: black solid 5px;
}

.img-carrito {
    height: 40px;
    width: 40px;
}

ul {
    text-align: center;
    list-style: none;
}


.card {
    margin-right: 10px;
}

.card-body {
    text-align: center;
    
    
}

.card-body a {
    border-radius: solid 1px black;
    list-style: none;
}

.row {
    margin-left: 6rem;
}

main {
    background-image: url(../assets/fondo-3.jpg);
    background-position: center;

}

img {
    height: 377px;
    width: 300px;
   
}

.pagination {
    padding-left: 42%;
}

tbody img {
    width: 100px;
    height: 100px;
}

.titulo h1{
    font-family: 'Mate SC', serif;
    color: aliceblue;
    text-align: center;
    font-size: 70px;
}

.titulo h2 {
    font-family: 'Mate SC', serif;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}

.catalogo-main h2 {
    font-family: 'Mate SC', serif;
    color: aliceblue;
    text-align: center;
    font-size: 100px;
}
